/* .pointer{
    cursor: pointer;
}

.disable{
    cursor: not-allowed;
}
.help{
    cursor: help;
}

.loading{
    cursor:wait;
    cursor:progress;
}
div{
    height: 200px;
    width: 200px;
    overflow: scroll;
    cursor: grab;
    cursor: zoom-in;
} */



